/* @import url('http://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880'); */
/* @import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 @layer base {
    html {
        font-family: 'Gilroy', sans-serif;

    }
 } */
/* @font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('/public/fonts/Gilroy-Regular.woff') format('woff');
    } */
